.song_item{
  width: 200px;
  height: 240px;
  box-sizing: border-box;
  padding: 20px;
  img{
    width: 100%;
    height: 160px;
    cursor: pointer;
  }
  .shadow{
    width: calc(100% - 40px);
    height: 30px;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    left: 20px;
    bottom: 60px;
    color: #cccccc;
    .shadow_left{
      width: calc(100% - 50px);
      i{
        margin-right: 3px;
      }
    }
    .shadow_rignt{
      width: 50px;
      font-size: 18px;
      i{
        cursor: pointer;
        &:hover{
          color: #ffffff;
        }
      }
    }
  }
  .introduce{
    width: 100%;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}